@CHARSET "UTF-8";

/* body {
	padding-top: 60px;
	60px to make the container go all the way to the bottom of the topbar
} */

.error {
	color: red;
}

* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -2em;
}
.footer, .push {
height: 2em;

}
.footer{
	text-align: center;
	background-color: #F3F3F3;
}